* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    list-style: none;
}

button {
    color: white;
    font-weight: bold;
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    margin-top: 10px;
}

button:hover {
    background-color: hsl(217, 91%, 40%);
    cursor: pointer;
}

header {
    background-color: #1f2937;
    color: white;
    padding: 20px 200px;
}

.header-top, .header-main {
    display: flex;
    margin-bottom: 200px;
    justify-content: space-between;
}

.header-top ul {
    display: flex;
}

.header-top li {
    margin-left: 20px;
}

.header-top li a {
    color: #e5e7eb;
    text-decoration: none;
}

.header-top li a:hover {
    text-decoration: underline;
    color: #3882f6;
}

.header-info {
    margin-right: 56px;
    margin-left: 285px;
    text-wrap: pretty;

}

.header-info h1 {
    font-weight: 800;
    margin-bottom: 5px;
    font-size: 48px;
}

.header-info p {
    color: #e5e7eb;
}

.header-main .header-img img {
    background-color: #E5E7EB;
}

.main-info {
    padding: 0 80px 80px;
}

.main-info h2 {
    font-size: 36px;
    font-weight: 800;
    margin: 40px auto;
    text-align: center;
}

.main-info .cards-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
}

.main-info .cards-container div {
    width: 200px;
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.main-info .cards-container div div {
    width: 200px;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 10px;
    margin-bottom: 10px;
}

.main-quote {
    background-color: #E5E7EB;
    padding: 100px 400px;
    font-size: 36px;
    font-weight: 300;
}

.main-quote .quote-source {
    font-size: 24px;
    font-weight: 800;
    text-align: right;
}

.main-action {
    margin: 80px;
}

.main-action .action-card {
    width: 600px;
    margin: 0 auto;
    background-color: #3882f6;
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
    color: white;
}

.action-card button {
    border: 2px solid white;
}

footer {
    background-color: #1F2937;
    color: white;
}